In [26]:
import json

In [27]:
data={
    "president":{
        "name":"Zaphod Beeblebrox",
        "species":"Betelgeusian"
    }
}

In [28]:
with open("data_file.json","w") as write_file:
    json.dump(data, write_file)

In [29]:
my_data={
    "firstName": "Jane",
    "lastName": "Doe",
    "hobbies": ["running", "sky diving", "singing"],
    "age": 35,
    "children": [
        {
            "firstName": "Alice",
            "age": 6
        },
        {
            "firstName": "Bob",
            "age": 8
        }
    ]
}

with open("my_data.json","w") as write_file:
    json.dump(my_data,write_file)

In [30]:
with open("my_data.json","r") as read_file:
    data = json.load(read_file)
 
data

{'firstName': 'Jane',
 'lastName': 'Doe',
 'hobbies': ['running', 'sky diving', 'singing'],
 'age': 35,
 'children': [{'firstName': 'Alice', 'age': 6},
  {'firstName': 'Bob', 'age': 8}]}

In [31]:
import pandas as pd

jsonStr = '''
    {"Index0":{"Courses": "Pandas","Discount": "1200"},
           "Index1":{"Courses": "Hadoop","Discount": "1500"},
           "Index2":{"Courses": "Spark","Discount": "1800"}
          }
'''

df2 = pd.read_json(jsonStr, orient='index')
df2.head()

       Courses  Discount
Index0  Pandas      1200
Index1  Hadoop      1500
Index2   Spark      1800

In [32]:
### Convert Dict To DF

In [33]:
data['president']

KeyError: 'president'

In [37]:
data = {
    "president": {
        "name": "Zaphod Beeblebrox",
        "species": "Betelgeusian"
    }
}

In [42]:
data['president']

{'name': 'Zaphod Beeblebrox', 'species': 'Betelgeusian'}

In [40]:
import pandas as pd

df3 = pd.DataFrame.from_dict(data, orient ='index')

In [41]:
df3

                        name       species
president  Zaphod Beeblebrox  Betelgeusian

In [ ]:
#### Working with CSV

In [43]:
df = pd.read_csv("data/hrdata.csv", index_col='Name')

In [44]:
df.head()

               Hire Date   Salary  Sick Days remaining
Name
Graham Chapman  03/15/14  50000.0                   10
John Cleese     06/01/15  65000.0                    8
Eric Idle       05/12/14  45000.0                   10
Terry Jones     11/01/13  70000.0                    3
Terry Gilliam   08/12/14  48000.0                    7

In [47]:
df =pd.read_csv("data/my_data.csv")
df.head()

     EventName EventType Dedup  EMQ
0     PageView  Standard  100%    5
1  ViewContent  Standard  100%    6
2    AddToCart  Standard  100%    7
3         Lead  Standard  100%    8
4     Purchase  Standard  100%    9

In [48]:
df =pd.read_csv('data/hrdata.csv',index_col='Name',parse_dates=['Hire Date'])
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [50]:
df.to_csv('data/hrdata_modified.csv')
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [52]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\rohit\appdata\local\programs\python\python311\lib\site-packages (23.0.1)
Collecting pip
  Downloading pip-23.1.2-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
     - -------------------------------------- 0.1/2.1 MB 1.7 MB/s eta 0:00:02
     ---- ----------------------------------- 0.2/2.1 MB 3.0 MB/s eta 0:00:01
     ------- -------------------------------- 0.4/2.1 MB 3.1 MB/s eta 0:00:01
     ----------- ---------------------------- 0.6/2.1 MB 3.5 MB/s eta 0:00:01
     --------------- ------------------------ 0.8/2.1 MB 3.7 MB/s eta 0:00:01
     -------------------- ------------------- 1.1/2.1 MB 3.9 MB/s eta 0:00:01
     -------------------------- ------------- 1.4/2.1 MB 4.3 MB/s eta 0:00:01
     -------------------------------- ------- 1.7/2.1 MB 4.6 MB/s eta 0:00:01
     ---------------------------------------  2.0/2.1 MB 4.9 MB/s eta 0:00:01
     ---------------------------------------  2.1/2.1 MB 5.0 MB/s eta 0:00:01
     ---------------------------------------- 2.1/2.1 MB 4.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 23.0.1
    Uninstalling pip-23.0.1:
      Successfully uninstalled pip-23.0.1
Successfully installed pip-23.1.2
Note: you may need to restart the kernel to use updated packages.

In [54]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "hello"
sheet["A2"] = "world!"

workbook.save(filename="hello_world.xlsx")

In [56]:
from openpyxl import load_workbook
workbook = load_workbook(filename="data/sample-xlsx-file.xlsx")
workbook.sheetnames
['Sheet 1']

['Sheet 1']

In [58]:
sheet = workbook.active
sheet

In [62]:
sheet["A1"].value

'Name'

In [61]:
sheet["A2"].value

'Rajeev Singh'

In [63]:
sheet.cell(row=3,column=3).value

datetime.datetime(1965, 1, 13, 0, 0)

In [68]:
sheet["A1:C2"]

((<Cell 'Employee'.A1>, <Cell 'Employee'.B1>, <Cell 'Employee'.C1>),
 (<Cell 'Employee'.A2>, <Cell 'Employee'.B2>, <Cell 'Employee'.C2>))

In [70]:
for row in sheet.iter_rows(values_only=True):
    print(row)

('Name', 'Email', 'Date Of Birth', 'Salary', 'Department')
('Rajeev Singh', 'rajeev@example.com', datetime.datetime(1992, 7, 21, 0, 0), 1500000.0, 'Software Engineering')
('John Doe', 'john@example.com', datetime.datetime(1965, 1, 13, 0, 0), 1300000.0, 'Sales')
('Jack Sparrow', 'jack@example.com', datetime.datetime(1986, 12, 19, 0, 0), 1000000.0, 'HR')
('Steven Cook', 'steven@example.com', datetime.datetime(1994, 5, 4, 0, 0), 1200000.0, 'Marketing')

In [71]:
excel_df = pd.read_excel('data/sample-xlsx-file-modifeid.xlsx')
excel_df

,Unnamed: 0,Name,Email,Date Of Birth,Salary,Department
0,0,Rajeev Singh,rajeev@example.com,1992-07-21,1500000,Software Engineering
1,1,John Doe,john@example.com,1965-01-13,1300000,Sales
2,2,Jack Sparrow,jack@example.com,1986-12-19,1000000,HR
3,3,Steven Cook,steven@example.com,1994-05-04,1200000,Marketing

In [72]:
excel_df.to_excel('data/sample-xlsx-file-modifeid.xlsx')

In [73]:
df

                Hire Date   Salary  Sick Days remaining
Name
Graham Chapman 2014-03-15  50000.0                   10
John Cleese    2015-06-01  65000.0                    8
Eric Idle      2014-05-12  45000.0                   10
Terry Jones    2013-11-01  70000.0                    3
Terry Gilliam  2014-08-12  48000.0                    7
Michael Palin  2013-05-23  66000.0                    8

In [74]:
pip install avro-python3

Collecting avro-python3
  Downloading avro-python3-1.10.2.tar.gz (38 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Installing backend dependencies: started
  Installing backend dependencies: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: avro-python3
  Building wheel for avro-python3 (pyproject.toml): started
  Building wheel for avro-python3 (pyproject.toml): finished with status 'done'
  Created wheel for avro-python3: filename=avro_python3-1.10.2-py3-none-any.whl size=44036 sha256=1be16362013f1711cc4b374ffd64a4c5638da93e64f14cc0ae77afdb5df96de0
  Stored in directory: c:\users\rohit\appdata\local\pip\cache\wheels\31\be\50\1145d9510eb4440893fc0ec676ef9464a05e0f7492a76fbb2c
Successfully built avro-python3
Installing collected packages: avro-python3
Successfully installed avro-python3-1.10.2
Note: you may need to restart the kernel to use updated packages.

In [76]:
import copy,json,avro

from avro.datafile import DataFileWriter, DataFileReader
from avro.io import DatumWriter, DatumReader

In [77]:
# Note that we combined namespace and name to get "full name"
schema = {
    'name': 'avro.example.User',
    'type': 'record',
    'fields': [
        {'name': 'name', 'type': 'string'},
        {'name': 'age', 'type': 'int'}
    ]
}

In [79]:
schema_parsed = avro.schema.Parse(json.dumps(schema))
schema_parsed

In [80]:
with open('users.avro','wb') as f:
    writer = DataFileWriter(f,DatumWriter(),schema_parsed)
    writer.append({'name': 'Pierre-Simon Laplace', 'age': 77})
    writer.append({'name': 'John von Neumann', 'age': 53})
    writer.close()

In [81]:
# Read data from an avro file
with open('users.avro', 'rb') as f:
    reader = DataFileReader(f, DatumReader())
    metadata = copy.deepcopy(reader.meta)
    schema_from_file = json.loads(metadata['avro.schema'])
    users = [user for user in reader]
    reader.close()

print(f'Schema that we specified:\n {schema}')
print(f'Schema that we parsed:\n {schema_parsed}')
print(f'Schema from users.avro file:\n {schema_from_file}')
print(f'Users:\n {users}')

Schema that we specified:
 {'name': 'avro.example.User', 'type': 'record', 'fields': [{'name': 'name', 'type': 'string'}, {'name': 'age', 'type': 'int'}]}
Schema that we parsed:
 {"type": "record", "name": "User", "namespace": "avro.example", "fields": [{"type": "string", "name": "name"}, {"type": "int", "name": "age"}]}
Schema from users.avro file:
 {'type': 'record', 'name': 'User', 'namespace': 'avro.example', 'fields': [{'type': 'string', 'name': 'name'}, {'type': 'int', 'name': 'age'}]}
Users:
 [{'name': 'Pierre-Simon Laplace', 'age': 77}, {'name': 'John von Neumann', 'age': 53}]

In [87]:
pip install pandavro

Collecting pandavro
  Using cached pandavro-1.7.2-py3-none-any.whl (8.8 kB)
Collecting fastavro~=1.5.1 (from pandavro)
  Using cached fastavro-1.5.4.tar.gz (772 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Requirement already satisfied: pandas>=1.1 in c:\users\rohit\appdata\local\programs\python\python311\lib\site-packages (from pandavro) (1.5.2)
Requirement already satisfied: numpy>=1.15.4 in c:\users\rohit\appdata\local\programs\python\python311\lib\site-packages (from pandavro) (1.24.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rohit\appdata\roaming\python\python311\site-packages (from pandas>=1.1->pandavro) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rohit\appdata\local\programs\python\python311\lib\site-packages (from pandas>=1.1->pandavro) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\rohit\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.1->pandas>=1.1->pandavro) (1.16.0)
Building wheels for collected packages: fastavro
  Building wheel for fastavro (pyproject.toml): started
  Building wheel for fastavro (pyproject.toml): finished with status 'error'
Failed to build fastavro
Note: you may need to restart the kernel to use updated packages.

  error: subprocess-exited-with-error

  × Building wheel for fastavro (pyproject.toml) did not run successfully.
  │ exit code: 1
  ╰─> [51 lines of output]
      running bdist_wheel
      running build
      running build_py
      creating build
      creating build\lib.win-amd64-cpython-311
      creating build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\const.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\json_read.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\json_write.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\logical_readers.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\logical_writers.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\read.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\schema.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\types.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\utils.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\validation.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\write.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_logical_readers_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_logical_writers_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_read_common.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_read_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_schema_common.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_schema_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_validate_common.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_validation_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_write_common.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\_write_py.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\__init__.py -> build\lib.win-amd64-cpython-311\fastavro
      copying fastavro\__main__.py -> build\lib.win-amd64-cpython-311\fastavro
      creating build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\binary_decoder.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\binary_encoder.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\json_decoder.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\json_encoder.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\parser.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\symbols.py -> build\lib.win-amd64-cpython-311\fastavro\io
      copying fastavro\io\__init__.py -> build\lib.win-amd64-cpython-311\fastavro\io
      creating build\lib.win-amd64-cpython-311\fastavro\repository
      copying fastavro\repository\base.py -> build\lib.win-amd64-cpython-311\fastavro\repository
      copying fastavro\repository\flat_dict.py -> build\lib.win-amd64-cpython-311\fastavro\repository
      copying fastavro\repository\__init__.py -> build\lib.win-amd64-cpython-311\fastavro\repository
      copying fastavro\py.typed -> build\lib.win-amd64-cpython-311\fastavro
      running build_ext
      skipping 'fastavro\_read.c' Cython extension (up-to-date)
      skipping 'fastavro\_schema.c' Cython extension (up-to-date)
      skipping 'fastavro\_write.c' Cython extension (up-to-date)
      skipping 'fastavro\_validation.c' Cython extension (up-to-date)
      skipping 'fastavro\_logical_readers.c' Cython extension (up-to-date)
      skipping 'fastavro\_logical_writers.c' Cython extension (up-to-date)
      building 'fastavro._read' extension
      error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for fastavro
ERROR: Could not build wheels for fastavro, which is required to install pyproject.toml-based projects

ModuleNotFoundError: No module named 'pandavro'